{% extends "_layout.html" %}

{% block "innerbody" %}
  <div><small><a href="/">Change Project</a></small></div>
  <h2>{{ project.title }}</h2>
  <table>
    <tr>
      <td valign="top">
        <form action="." method="post">
          <div>
            <input type="text" name="title">
            <input type="submit" value="Add Node">
          </div>
        </form>
        <br>
        {% if nodes %}
          <ul>
            {% for node in nodes %}
              <li>
                {% if current_node == node %}
                  <strong>{{ current_node.title }}</strong>
                  <form action="." method="post">
                    <ul>
                      {% for node2 in nodes %}
                        {% if node2.key in current_node.associations %}
                          <li>
                            {{ node2.title }}
                          </li>
                        {% endif %}
                      {% endfor %}
                      {% if current_node.associations|length < nodes|length|add:"-1" %}
                        <li>
                          <input type="hidden" name="node" value="{{ current_node.key.id }}">
                          <select name="association">
                            {% for node2 in nodes %}
                              {% if current_node != node2 and node2.key not in current_node.associations %}
                                <option value="{{ node2.key.id }}">{{ node2.title }}</option>
                              {% endif %}
                            {% endfor %}
                          </select>
                          <input type="submit" value="Associate">
                        </li>
                      {% endif %}
                    </ul>
                  </form>
                {% else %}
                  <a href="{{ node.permalink }}">{{ node.title }}</a>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </td>
      <td>
        <img src="{{ chart_url }}" alt="{{ digraph }}">
      </td>
    </tr>
  </table>
{% endblock %}
