{% extends "layout.html" %}

{% block "innerbody" %}
  <table>
    <tr>
      <td valign="top">
        <form action="." method="post">
          <div>
            <input type="text" name="title">
            <input type="submit" value="Add">
          </div>
        </form>
        <br>
        <form action="." method="post">
          <div>
            <select name="assoc_from">
              <option>---</option>
              {% for node in nodes %}
                <option value="{{ node.key.id }}">{{ node.title }}</option>
              {% endfor %}
            </select>
            -&gt;
            <select name="assoc_to">
              <option>---</option>
              {% for node in nodes %}
                <option value="{{ node.key.id }}">{{ node.title }}</option>
              {% endfor %}
            </select>
            <input type="submit" value="Connect">

            <ul>
              {% for node in nodes %}
                <li><a href="#{{ node.key.id }}">{{ node.title }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </form>
      </td>
      <td>
        <img src="{{ chart_url }}" alt="{{ digraph }}">
      </td>
    </tr>
  </table>
{% endblock %}
